.container {
	max-width: 1100px;
}

nav.navbar {
	text-transform: uppercase; 
	/*font-weight: bold;*/
}

nav .btn_search {
	color: #FFFFFF; 
	cursor: pointer;
}

.carousel-inner .item img{
  	width:100%;
  	height: 255px;
  	max-height: 255px;
}
